@model Videohosting.Models.Channel

<div class="btn-group col-sm-push-11">

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sort by <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>@Ajax.ActionLink("Views", "SortByViews", new { userName = @Model.User.UserName }, new AjaxOptions() { UpdateTargetId = "results" })</ li >
        <li class="divider"></li>
        <li>@Ajax.ActionLink("Likes", "SortByLikes", new { userName = @Model.User.UserName }, new AjaxOptions() { UpdateTargetId = "results" })</ li >
    </ul>
</div>