@model Videohosting.Models.ApplicationUser
@if (Model != null)
{
    <ul>
        @foreach (var subscribe in Model.Subscribes)
        {
            if (subscribe.User.UserName != Model.UserName)
            {
                <li>@Html.ActionLink(subscribe.User.UserName, "Index", "Channel", new { userName = subscribe.User.UserName }, null);</li>
            }
        }
    </ul>
}
