@model List<Videohosting.Models.Channel>

@{
    ViewBag.Title = "My subscribes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My subscribes</h2>

@if (Model != null)
{
    <div class="list-group">
        @foreach (var subscribe in Model)
        {
            @Html.ActionLink(subscribe.User.UserName, "Channel", "Channel", new { userName = subscribe.User.UserName }, new { @class = "list-group-item" })
        }        
    </div>
}
