@model Videohosting.Models.Comment

<div class="media" id="comment">
    <div class="pull-left">
        <img src="~/Content/img_avatar.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
        <h4 class="media-heading">@Model.User.UserName</h4>
        <p>@Model.Message</p>
    </div>
</div>