@model List<Videohosting.Models.Video>

@{
    ViewBag.Title = "My channel";
    Layout = "~/Views/Shared/_DisplayVideos.cshtml";
}

@section BeforeDisplaying
{
    <h2>My videos</h2>

    <p>
        @Html.ActionLink("Upload new video", "Upload", "Video")
    </p>
}