@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Authors:<br />
    <strong>Maksim Reginya</strong> - <a href="mailto:maksimr1998@mail.ru">maksimr1998@mail.ru</a><br />
    <strong>Daniil Gasyul</strong> - <a href="mailto:dgasyul@gmail.com">dgasyul@gmail.com</a><br />
    <br />BSUIR, Minsk, Belarus.<br />
</address>
