@model List<Videohosting.Models.Video>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model?.Count > 0)
{
    foreach (var item in Model)
    {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.Title)
             </td>
             <td>
                 <video style="outline: none; width: 60%;" controls="controls">
                     <source src="@Url.Action("ShowVideo", "Video", new {filePath = item.FilePath})" type="video/mp4">
                 </video>
             </td>
         </tr>
     }
}