@model List<Videohosting.Models.Video>

@if (Model?.Count > 0)
{
    for (int j = 0; j < Model.Count; j += 3)
    {
        <div class ="row">
            @for (int i = j; i < Model.Count; i++)
            {
                <div class="col-md-4">
                    <p>@Html.DisplayFor(modelItem => Model[i].Title)</p>
                    <a href="@Url.Action("Display", "Video", new {id = Model[i].Id})" type="video/mp4">
                        <video style="outline: none; width: 100%;">
                            <source src="@Url.Action("ShowVideo", "Video", new {id = Model[i].Id})" type="video/mp4">
                        </video>
                    </a>
                    @Html.ActionLink(Model[i].Chanel.User.UserName, "Chanel", "Chanel", new {userName = Model[i].Chanel.User.UserName }, null)
                </div>
                if (i % 3 == 2)
                {
                    break;
                }
            }
        </div>
    }
}